{% extends "base.html" %}

{%- block content -%}
<ul>
{% for test_elem in tests_state %}
    <li>
        <a href="/czesc-{{ test_elem.test_id }}">Giga Test cz. {{ test_elem.test_id }}</a>
    {% if giga_test_finished %}
        <span class="correct">poprawnie: {{ test_elem.answered_good_q }}</span>
        <span class="incorrect">niepoprawnie: {{ test_elem.answered_bad_q }}</span>
    {% else %}
        <span class="answered">odpowiedzi: {{ test_elem.answered_q }}</span>
    {% endif %}
    <span class="total">razem: {{ test_elem.total_q }}</span>
    </li>
{% endfor %}
</ul>

<form action="/zakoncz" method="POST">
    <button {% if giga_test_finished %}disabled{% endif %}>Zamknij giga test</button>
</form>

{%- endblock -%}
