{% extends "base.html" %}

{%- block content -%}
<form action="/" method="POST">
    <button>Submit!</button>
<p>{{ part_state.introduction }}</p>

{% for section in part_state.sections %}
<p>{{ section.introduction }}</p>
{% for question in section.questions %}
<div id="{{ question.id }}">
    <p>{{ question.question }}</p>
    {% for choice in question.choices %}
    <input 
        type="radio"
        id="{{ choice.1.id }}"
        name="{{ question.id }}"
        value="{{ choice.0 }}" 
        {% if giga_test_finished %}disabled{% endif %}
        {% if choice.1.user_selected %}checked{% endif %}
    />
    <label class="{% if giga_test_finished %}{{ choice.1.choice_class }}{% endif %}" for="{{ choice.1.id }}">{{ choice.1.answer }}</label>
    {% endfor %}
</div>
{% endfor %}
{% endfor %}
</form>
{% endblock %}
